AWSTemplateFormatVersion: '2010-09-09'
Description: Route53 alias record for Attractor Factory ingress ALB

Parameters:
  HostedZoneId:
    Type: String
    Description: Route53 hosted zone id where the record is created
  RecordName:
    Type: String
    Default: factory.pelx.ai
  LoadBalancerDnsName:
    Type: String
    Description: DNS name of the ALB created by Kubernetes ingress
  LoadBalancerHostedZoneId:
    Type: String
    Description: Canonical hosted zone id for the ALB

Resources:
  FactoryAliasRecord:
    Type: AWS::Route53::RecordSet
    Properties:
      HostedZoneId: !Ref HostedZoneId
      Name: !Ref RecordName
      Type: A
      AliasTarget:
        DNSName: !Ref LoadBalancerDnsName
        HostedZoneId: !Ref LoadBalancerHostedZoneId
        EvaluateTargetHealth: true

Outputs:
  RecordFqdn:
    Value: !Ref FactoryAliasRecord
    Export:
      Name: !Sub '${AWS::StackName}-RecordFqdn'
