namespace: factory-system
web:
  apiBaseUrl: /api
ingress:
  enabled: true
  className: traefik
  host: ""
  webPathPrefix: /
  apiPathPrefix: /api
images:
  api:
    repository: ghcr.io/wcraigjones/attractor-factory-api
    tag: latest
  web:
    repository: ghcr.io/wcraigjones/attractor-factory-web
    tag: latest
  controller:
    repository: ghcr.io/wcraigjones/attractor-factory-runner-controller
    tag: latest
  runner:
    repository: ghcr.io/wcraigjones/attractor-factory-runner
    tag: latest
